@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3a3b3d;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #7c7b7b9a;
  border-radius: 10px;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
.slick-arrow {
  background-color: #5b5b5c !important;
  border-radius: 50%;
}

.slick-next {
  background-color: #5b5b5c !important;
  border-radius: 50%;
}
.banner:hover img {
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.moving_ani {
  transition: 0.3s ease-in-out;
  animation: move 13s linear infinite;
  overflow: hidden;
}
@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.pump_ani {
  transition: 0.3s linear;
  animation: pump 1s linear infinite;
}
@keyframes pump {
  0% {
    color: #e47d58;
  }
  100% {
    color: #9e1a46;
  }
}
.hero__section {
  background-image: url('../src/Assets/Hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.hero__section-2 {
  background-image: url('../src/Assets/Hero2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.hero_sub-1 {
  background-image: linear-gradient(
      to top left,
      rgba(77, 77, 78, 0.37),
      rgba(65, 65, 66, 0.315)
    ),
    url('../src/Assets/shoe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 17rem;
}
.hero_sub-2 {
  background-image: linear-gradient(
      to top left,
      rgba(77, 77, 78, 0.699),
      rgba(65, 65, 66, 0.596)
    ),
    url('../src/Assets/bag2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 17rem;
}

.btn:hover,
.btn:active {
  color: #e83a59;
}
.btn {
  width: 4rem;
  height: 4rem;
  margin: 1rem;

  font-size: 2rem;
}
.left {
  position: absolute;
  top: 50%;
  left: 0;
}
.right {
  position: absolute;
  top: 50%;
  right: 25%;
}
@media screen and (max-width: 770px) {
  .hero__section {
    background-image: none;
  }
  .hero__section-2 {
    background-image: none;
  }
  .left {
    position: absolute;
    top: 20%;
    left: -2%;
  }
  .right {
    position: absolute;
    top: 20%;
    right: -10%;
  }
}
@media screen and (max-width: 1024px) {
  .left {
    position: absolute;
    top: 20%;
    left: 0;
  }
  .right {
    position: absolute;
    top: 20%;
    right: -10%;
  }
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.color_anim::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(217, 230, 243);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}
.color_anim {
  z-index: 1;
  position: relative;
}
.color_anim:hover::before,
.color_anim:focus::before {
  transform: scaleX(1);
}
.slide_anim {
  animation: slide 0.3s ease-in-out;
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide_down_anim {
  animation: slide_down 0.2s linear;
}

@keyframes slide_down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
